credentials.json
config.js
key_pair_1
key_pair_1.pem
carbide-booth-398715-8208869cc0c9

# Ignore macOS system files
.DS_Store
.localized

# Ignore node_modules directory
node_modules/

# Ignore IntelliJ IDEA project files
.idea/

carbide-booth-398715-8208869cc0c9.json

