*.pyc
*.xlsx
*.json
*.csv
!package.json
!google_sheet/*
credentials.json
config.*
Luis/*
gspread/*
obsolete/*
auto_script.py
.vscode
google_sheet
mvp_lambda.py
__pycache__

# Ignore macOS system files
.DS_Store
.localized

# Ignore IntelliJ IDEA project files
.idea/
node_modules
