*.pyc
*.json
node_modules
!package.json
!google_sheet/*
credentials.json
config.js
env
# Exclude virtual environment directory
venv/
*.zip

# Ignore macOS system files
.DS_Store
.localized

# Ignore IntelliJ IDEA project files
.idea/
